# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# YOLO Weights
*.pt

# Uploads
uploads/

# Outputs
outputs/

# Node
frontend/node_modules/

# Vite
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
